#textdomain wesnoth-Danse_Macabre
[scenario]
    id=15_dawn_of_the_dead

    name=_ "Dawn of the dead"
    map_data="{~add-ons/Danse_Macabre/maps/DM15.map}"
    turns=-1
    victory_when_enemies_defeated=no
     {DEFAULT_SCHEDULE}

    {INTRO_AND_SCENARIO_MUSIC into_the_shadows.ogg nunc_dimittis.ogg}
    {EXTRA_SCENARIO_MUSIC knolls.ogg}
    {EXTRA_SCENARIO_MUSIC heroes_rite.ogg}
    
    [story]
        [part]
            story= _ "At last Macabre killed the Lich."
            show_title=yes
        [/part]
        [part]
            background="portraits/macabre2.png"
            scale_background=no
            story={CAPTION ( _ "Macabre")} + _ "Now I...no...we are given our freedom. Thank you for fighting with me. And I'm no longer your leader. Nothing govens you...in the true sense of the term. Go anywhere, and live as you like."
        [/part]
        [part]
            story= _ "Cheering zombies and other undead. Most of them didn't understand what was going on, but at lease felt freedom. They left Macabre slowly. And a few of them stayed."
        [/part]
        [part]
            background="portraits/zBoreas.png"
            scale_background=no
            story={CAPTION ( _ "Boreas")} + _ "We won't leave."
        [/part]
        [part]
            background="portraits/zMerrin.png"
            scale_background=no
            story={CAPTION ( _ "Merrin")} + _ "Yes...we don't lose our reason it's better to live with you."
        [/part]
        [part]
            background="portraits/zphilosophy.png"
            scale_background=no
            story={CAPTION ( _ "Philosophy")} + _ "Exactly. It's impossible to get back to nature now. How about founding a Kingdom of Undead?"
        [/part]
        [part]
            background="portraits/macabre2.png"
            scale_background=no
            story={CAPTION ( _ "Macabre")} + _ "......Ha ha."
        [/part]
        [part]
            story= _ "and they lived happily ever after"
        [/part]
        [part]
            story= _ "...That was not a fact."
        [/part]
        [part]
            story= _ "Reality is not that simple. To begin with, undead is not natural. All natural creatures shall die. But undead shall never die. They continue to move eternally and eat flesh of the living. Unnatural being. That's their nature. They shouldn't have returned to nature."
        [/part]
        [part]
            story= _ "Macabre had forgotten about that because of the afterglow of victory and realization of freedom. And this absurdity caused a serious problem."
        [/part]
        [part]
            story= _ "The difficulty of obtaining food."
        [/part]
        [part]
            story= _ "Zombies were exhausting every race which had been led a life of want. It was inevitable because they didn't have enough power to resist. Macabre had distorted order of nature overly. He killed too much. Yet zombies didn't stop, or rather the number of them kept rising and the scarcity became more and more serious. And then, the whole world was filled with death. There is no food now."
        [/part]
        [part]
            story= _ "Zombies were struggling against hunger. Flesh... No flesh... Where... Nowhere... And pain changed into complaint. Why... Why no flesh... Why... Unusual... Flesh... There must be flesh... Cruel treatment... And extensive complaints changed into a general will."
        [/part]
        [part]
            story= _ "He...did...this."
        [/part]
        [part]
            story= _ "It was Macabre who led them, made them fight and let them return to nature. This difficulty of obtaining food was caused by Macabre... They reached this conclusion easily. They can't help but feeling so."
        [/part]
        [part]
            story= _ "He... He is bones... So he doesn't want flesh... He isn't hungry... Our pain... He don't know... Can't know... UNALLOWABLE..."
        [/part]
        [part]
            story= _ "This general will led all zombies to Macabre."
        [/part]
    [/story]
    
    [side]
        side=1
        controller=human
        type=Death Lord
        id=Macabre
        name= _ "Macabre"
        team_name=macabre
        user_team_name=_"Macabre"
        canrecruit=yes
        fog=no
        shroud=no
        gold=0
        share_view=yes
        {NO_INCOME}
        {FLAG_VARIANT undead}
    [/side]
    [side]
        side=2
        controller=ai
        team_name=macabre
        user_team_name=_"Macabre"
        name=_ "Macabre"
        no_leader=yes
        gold=0
        {NO_INCOME}
        fog=no
        shroud=no
        share_view=yes
        {FLAG_VARIANT undead}
        [ai]
            aggression=0.8
            leader_value=1
            caution=0.1
        [/ai]
    [/side]
    
    [side]
        side=3
        controller=ai
        team_name=zombie
        user_team_name=_"Zombie"
        type=Battalion
        id=battalionleader
        canrecruit=yes
        recruit=DM Walking Corpse
        gold=2000
        income=198
        fog=no
        shroud=no
        {FLAG_VARIANT undead}
        [ai]
            aggression=1.0
            caution=0.0
            grouping=no
        [/ai]
    [/side]
    
    {FORCE_CHANCE_TO_HIT side=1 id="battalionleader" 0 ()}
    {FORCE_CHANCE_TO_HIT side=2 id="battalionleader" 0 ()}
    {FORCE_CHANCE_TO_HIT side=3 side=2 70 ()}
    {FORCE_CHANCE_TO_HIT side=3 side=1 70 ()}
    
    [event]
       name=prestart
       
       [kill]
           [not]
            id=Macabre
           [/not]
           [not]
            id=Boreas
           [/not]
           [not]
            id=Merrin
           [/not]
           [not]
            id=Neckfrill
           [/not]
           [not]
            id=Spelk
           [/not]
           [not]
            id=Pech
           [/not]
           [not]
            id=philosophy
           [/not]
           side=1
       [/kill]
       
       [disallow_recruit]
           side=1
           type=DM Walking Corpse,Ghost,Ghoul,Skeleton,Skeleton Archer,Skeleton Rider,Zombie Mage
       [/disallow_recruit]
       
       [recall]
          id=Boreas
          x,y=16,9
       [/recall]
       [recall]
          id=Merrin
          x,y=22,8
       [/recall]
       [recall]
          id=philosophy
          x,y=22,10
       [/recall]
       [recall]
          id=Pech
          x,y=20,7
       [/recall]
       [recall]
          id=Spelk
          x,y=20,9
       [/recall]
       [recall]
          id=Neckfrill
          x,y=20,11
       [/recall]
       
       {MODIFY_UNIT side=1 facing sw}
       {MODIFY_UNIT id=battalionleader facing se}
       {MODIFY_UNIT side=1 experience 0}

        {PLACE_IMAGE scenery/monolith4.png 17 7}
        {PLACE_IMAGE scenery/monolith4.png 17 12}
        {PLACE_IMAGE scenery/monolith4.png 21 12}
        {PLACE_IMAGE scenery/monolith4.png 21 7}        
	{PLACE_IMAGE scenery/monolith4.png 24 8}
        {PLACE_IMAGE scenery/monolith4.png 24 10} 
        
        {VARIABLE kill 0}
    [/event]
    
    [event]
        name=start
        
        [message]
            speaker=Boreas
            message= _ "A horde of zombies are coming with great verve!!"
        [/message]
        [message]
            speaker=Merrin
            message= _ "Hm...what brings them here?"
        [/message]
        [message]
            speaker=philosophy
            message= _ "Hmm. The ceremony of Foundation is held today. So they must wanna attend it."
        [/message]
        [message]
            speaker=Macabre
            message= _ "......"
        [/message]
        {FADE_TO_BLACK}
        [message]
            speaker=Macabre
            message= _ "(Perhaps... they have exhausted food... It's not surprising. Couldn't I expect this? But here is no food, either. My trusted friends can control their desire, but they are also suffering from hunger. Whereas those who don't have reason...)"
        [/message]
        [message]
            speaker=narrator
            message= _ "...Fill the whole world with death..."
        [/message]
        [message]
            speaker=narrator
            message= _ "...No matter how hard you struggle, your destiny is in my hand..."
        [/message]
        [message]
            speaker=narrator
            message= _ "Macabre recalled the warning of that lich. He had thought that it had been mere provocation."
        [/message]
        [message]
            speaker=Macabre
            message= _ "(OK... Now I know. After all, I filled the whole world with death. I wanted to defeat him. And he hungered for power. As a result, we cooperated to ruin this world.)"
        [/message]
        [message]
           speaker=narrator
           message= _ "OK...I perish... But...You are never WINNER... Boht of us are LOSER!"
        [/message]
        [message]
            speaker=Macabre
            message= _ "(And he must have foreseen this empty ending...)"
        [/message]
        
        [message]
            speaker=Macabre
            message= _ "Ha!!"
        [/message]
        {FADE_IN}
        
        {MODIFY_UNIT id=Boreas facing se}
        [message]
            speaker=Boreas
            message= _ "W..what's the problem, sir?"
        [/message]
        [message]
            speaker=Macabre
            message= _ "...Never mind."
        [/message]
        [message]
            speaker=Macabre
            message= _ "(We are mere unproductive beings. We shouldn't have got free. Our liberty...fills this world with death. And bane, barrenness. We...should have been...unfree and foolish puppets eternally!!)"
        [/message]
        [message]
            speaker=Macabre
            message= _ "...I'm better off dead..."
        [/message]
        [message]
            speaker=Merrin
            message= _ "Pardon?"
        [/message]
        [message]
            speaker=Macabre
            message= _ "(But what about my friends? They have longed for me and stayed here. How can I give account?)"
        [/message]
        [message]
            speaker=Boreas
            message= _ "They are near at hand!"
        [/message]
        [message]
            speaker=Macabre
            message= _ "(You are also sent to your doom...I can't say such a thing. What...should I do?)"
        [/message]
        [sound]
           name=zombie-attack.wav
        [/sound]
        [sound]
           name=zombie-hit-1.ogg
        [/sound]
        [sound]
           name=zombie-hit-2.ogg
        [/sound]
        [sound]
           name=zombie-hit-3.ogg
        [/sound]
        [sound]
           name=zombie-hit-4.ogg
        [/sound]
        [message]
            speaker=Merrin
            message= _ "They rush into here, sir Macabre!!"
        [/message]
        [message]
            speaker=philosophy
            message= _ "W..why!? Why do they have feelings of hatred?"
        [/message]
        [message]
            speaker=Macabre
            message= _ "...un"
        [/message]
        [message]
            speaker=Boreas
            message= _ "What?"
        [/message]
        [message]
            speaker=Macabre
            message= _ "JUST RUN!!!"
        [/message]
        [message]
            speaker=Macabre
            message= _ "It's legitimate for them to have feeling of hatred. They are filled with pain, that is hunger. Maybe...the pain was caused by me, after all. So they hate me. But it's not your problem. Even so, if you are here, they will aim their attack at you... So run away."
        [/message]
        [message]
            speaker=Boreas
            message= _ "That...That's fine by us. But what will you do?"
        [/message]
        [message]
            speaker=Macabre
            message= _ "...I will try to persuade them not to do. That's the only thing I can do. Am I wrong?"
        [/message]
        [message]
            speaker=philosophy
            message= _ "You are kidding! They will never accept your persuation!"
        [/message]
        [message]
            speaker=Merrin
            message= _ "Exactly! Because they don't have reason, they hate you! It's impossible to talk with them!"
        [/message]
        [message]
            speaker=Boreas
            message= _ "Let's run away together!!"
        [/message]
        [message]
            speaker=Macabre
            message= _ "Enough!!"
        [/message]
        [delay]
           time=1000
        [/delay]
        [message]
            speaker=Macabre
            message= _ "I...must take responsibility. I...stay here."
        [/message]
        [message]
            speaker=Macabre
            message= _ "...Well, go..."
        [/message]
        [message]
            speaker=Boreas
            message= _ "I stay here, too."
        [/message]
        [message]
            speaker=Merrin
            message= _ "It's impossible to do otherwise."
        [/message]
        [message]
            speaker=philosophy
            message= _ "Good grief... What an awful mess this ceremony of Foundation has become."
        [/message]
        [message]
            speaker=Macabre
            message= _ "No! You shall not die in vain! If you run away now, they will never attack you! You will be really free!"
        [/message]
        [message]
            speaker=philosophy
            message= _ "We have no time. They are right around the corner. Well...I will stage a rough-and-tumble battle of my life."
        [/message]
        [message]
            speaker=Merrin
            message= _ "Yes. For the first time in a long while, I'll exorcise evil spirits."
        [/message]
        [message]
            speaker=Boreas
            message= _ "Don't worry. I will make the last divine wind blow."
        [/message]
        [message]
            speaker=Macabre
            message= _ "Wait!!"
        [/message]
        [redraw]
           side=1
        [/redraw]
        {MODIFY_UNIT id=Boreas facing sw}
        {MODIFY_UNIT id=Boreas side 2}
        {MODIFY_UNIT id=Merrin side 2}
        {MODIFY_UNIT id=philosophy side 2}
        {MODIFY_UNIT id=Pech side 2}
        {MODIFY_UNIT id=Spelk side 2}
        {MODIFY_UNIT id=Neckfrill side 2}
        
        [objectives]
            side=1
            [objective]
                condition=win
                description=_ "Nobody knows"
            [/objective]
            [objective]
                condition=lose
                description=_ "Nobody knows"
            [/objective]
        [/objectives]
        
    [/event]
    
    {RECRUIT_UNIT_VARIATIONS 3 (DM Walking Corpse) none,drake,dwarf,troll,gryphon,wose,mounted,saurian,bat}
    {RECRUIT_UNIT_VARIATIONS 3 (DM Soulless) none,drake,dwarf,troll,gryphon,wose,mounted,saurian,bat}
    {RECRUIT_UNIT_VARIATIONS 3 (Running Corpse) none,drake,dwarf,troll,gryphon,wose,mounted,saurian,bat}
    {RECRUIT_UNIT_VARIATIONS 3 (Brain Eater) none,drake,dwarf,troll,gryphon,wose,mounted,saurian,bat}
    {RECRUIT_UNIT_VARIATIONS 3 (Battalion) none,drake,dwarf,troll,gryphon,wose,mounted,saurian,bat}
    
    [event]
        name=turn 2
        [set_recruit]
            recruit=DM Soulless
            side=3
        [/set_recruit]
    [/event]
    [event]
        name=turn 3
        [set_recruit]
            recruit=Running Corpse
            side=3
        [/set_recruit]
    [/event]
    [event]
        name=turn 4
        [set_recruit]
            recruit=Brain Eater
            side=3
        [/set_recruit]
    [/event]
    [event]
        name=turn 5
        [set_recruit]
            recruit=Battalion
            side=3
        [/set_recruit]
    [/event]
    
    [event]
        name=ai turn
        first_time_only=no
        {MODIFY_UNIT id=battalionleader moves 0}
    [/event]
    
    [event]
        name=last breath
        [filter]
            id=Boreas
        [/filter]
        [message]
            speaker=Boreas
            message= _ "Divine...wind...no...longer...blow..."
        [/message]
        [message]
            speaker=Macabre
            message= _ "Boreas!!"
        [/message]
    [/event]
    
    [event]
        name=last breath
        [filter]
            id=Merrin
        [/filter]
        [message]
            speaker=Merrin
            message= _ "I'm...sorry...to...leave...early..."
        [/message]
        [message]
            speaker=Macabre
            message= _ "Merrin!!"
        [/message]
    [/event]
    
    [event]
        name=last breath
        [filter]
            id=philosophy
        [/filter]
        [message]
            speaker=philosophy
            message= _ "It...was...a...good...ceremony...of...Foundation..."
        [/message]
        [message]
            speaker=Macabre
            message= _ "Philosophy!!"
        [/message]
    [/event]
    
    [event]
        name=last breath
        [filter]
            id=Neckfrill
        [/filter]
        [message]
            speaker=Neckfrill
            message= _ "If...I...hadn't...broken...my...leg..."
        [/message]
        [message]
            speaker=Macabre
            message= _ "Neckfrill!!"
        [/message]
    [/event]
    
    [event]
        name=last breath
        [filter]
            id=Pech
        [/filter]
        [message]
            speaker=Pech
            message= _ "The sky...is...falling..."
        [/message]
        [message]
            speaker=Macabre
            message= _ "Pech!!"
        [/message]
    [/event]
    
    [event]
        name=last breath
        [filter]
            id=Spelk
        [/filter]
        [message]
            speaker=Spelk
            message= _ "I...hate...undead...after...all..."
        [/message]
        [message]
            speaker=Macabre
            message= _ "Spelk!!"
        [/message]
    [/event]
    
    [event]
        name=last_breath
        [filter]
           id=Macabre
        [/filter]
        [music]
           name=silence.ogg
           immediate=yes
        [/music]
        [animate_unit]
           flag=standing
           [filter]
              id=Macabre
           [/filter]
        [/animate_unit]
        [message]
            speaker=Macabre
            message= _ "Drop...a...curtain..."
        [/message]
        [message]
            speaker=Macabre
            message= _ "...Dance...is...over..."
        [/message]
        {DELAY 600}
        {REDRAW}
        {PLACE_IMAGE items/axe2.png $x1 $y1}
        [kill]
            id=Macabre
            animate=yes
        [/kill]
        {REDRAW}
        {DELAY 1200}
        [endlevel]
           next_scenario=null
           carryover_report=no
           save=no
           linger_mode=no
        [/endlevel]
    [/event]
    
    {SOUL_DRAIN}
    
[/scenario]
